<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.css}" />
<link rel="stylesheet" th:href="@{/lib/jqgrid/4.8.0/css/ui.jqgrid.css}" />
<link rel="stylesheet" th:href="@{/lib/jqgrid/4.8.0/css/ui.jqgrid-bootstarp.css}" />
<link rel="stylesheet" th:href="@{/css/jqgrid.css}" />

</head>
<body>
  <h2>ng-grid Demo</h2>

  <table id="list48"></table>
  <div id="plist48"></div>

  <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/jqgrid/4.8.0/js/jquery-1.11.0.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/jqgrid/4.8.0/js/jquery.jqGrid.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/jqgrid/4.8.0/js/i18n/grid.locale-en.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqgrid.js}"></script>

</body>
</html>