<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />

<title>React JS</title>
</head>
<body>
  <div class="fluid-container">
    <div id="example"></div>
  </div>

  <!--   <script th:src="@{lib/reactjs/0.13.3/react.js}"></script> -->
  <script th:src="@{lib/reactjs/0.13.3/JSXTransformer.js}"></script>
  <script th:src="@{lib/reactjs/0.13.3/react-with-addons.js}"></script>
  <script th:src="@{lib/marked/0.3.3/marked.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
  <script th:src="@{lib/requirejs/2.1.19/require.js}"></script>
  <script type="text/jsx" th:src="@{js/materialUi.js}"></script>
  <script th:src="@{lib//react-bootstrap.min.js}"></script>
  <!--   <script th:src="@{lib/material-ui/0.10.1/index.js}"></script> -->

</body>
</html>