<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />

<title>React JS</title>
</head>
<body>
  <div class="fluid-container">
    <div id="example"></div>
  </div>

  <script th:src="@{lib/reactjs/0.13.3/react.js}"></script>
  <script th:src="@{lib/reactjs/0.13.3/JSXTransformer.js}"></script>

  <script type="text/jsx">
	React.render(
		<h1>Hello World</h1>,
		document.getElementById('example')
	);
  </script>
</body>
</html>