<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/lib/handsontable/0.15.0-beta6/pikaday/pikaday.css}" />
<link rel="stylesheet"
	th:href="@{/lib/handsontable/0.15.0-beta6/handsontable.full.css}" />
<link rel="stylesheet" th:href="@{/css/index.css}" />

<title>Dandelion Demo</title>
</head>
<body>
	<h2>Validation Example</h2>
	<hr />

	<div class="fluid-container">
		<div id="table1"></div>
		
		<div id="table2"></div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
	<script type="text/javascript"
		th:src="@{/lib/handsontable/0.15.0-beta6/moment/moment.js}"></script>
	<script type="text/javascript"
		th:src="@{/lib/handsontable/0.15.0-beta6/pikaday/pikaday.js}"></script>
	<script type="text/javascript"
		th:src="@{/lib/handsontable/0.15.0-beta6/zeroclipboard/ZeroClipboard.js}"></script>
	<script type="text/javascript"
		th:src="@{/lib/handsontable/0.15.0-beta6/handsontable.full.js}"></script>
	<script type="text/javascript" th:src="@{js/lang/de.js}"></script>
	<script type="text/javascript" th:src="@{js/validation.js}"></script>
</body>
</html>